<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncoding.backend.test.course.dao.course.MCourseMapper">
    <resultMap id="CoursesMap" type="com.ncoding.backend.test.course.core.Course">
        <id     column="tscr_uid"              property="uid"            javaType="long"/>
        <result column="tscr_status"           property="status"         javaType="int"/>
        <result column="tscr_price"            property="price"          javaType="double"/>
        <result column="tscr_title"            property="title"          javaType="string"/>
        <result column="tscr_description"      property="description"    javaType="string"/>
        <result column="tscr_create_date"      property="createDate"     javaType="java.sql.Timestamp"/>
        <result column="tscr_last_update_date" property="lastUpdateDate" javaType="java.sql.Timestamp"/>
    </resultMap>

    <resultMap id="SimpleCourseMap" type="com.ncoding.backend.test.course.core.Course">
        <id     column="tscr_uid"              property="uid"            javaType="long"/>
        <result column="tscr_status"           property="status"         javaType="int"/>
        <result column="tscr_price"            property="price"          javaType="double"/>
        <result column="tscr_title"            property="title"          javaType="string"/>
        <result column="tscr_description"      property="description"    javaType="string"/>
        <result column="tscr_create_date"      property="createDate"     javaType="java.sql.Timestamp"/>
        <result column="tscr_last_update_date" property="lastUpdateDate" javaType="java.sql.Timestamp"/>

        <association column="tsct_uid" property="category" javaType="com.ncoding.backend.test.course.core.Category">
            <id     column="tsct_uid"              property="uid"            javaType="long"/>
            <result column="tsct_status"           property="status"         javaType="int"/>
            <result column="tsct_name"             property="name"           javaType="string"/>
        </association>

        <collection property="listEnroll" ofType="com.ncoding.backend.test.course.core.Enroll" javaType="java.util.List">
            <id column="tsst_uid" javaType="long"/>
            <id column="tscr_uid" javaType="long"/>

            <result property="status"     column="tsnr_status"      javaType="int"/>

            <association column="tsst_uid" property="student" javaType="com.ncoding.backend.test.course.core.Student">
                <id     column="tsst_uid"              property="uid"            javaType="long"/>
                <result column="tsst_status"           property="status"         javaType="int"/>
                <result column="tsst_first_name"       property="firstName"      javaType="string"/>
                <result column="tsst_last_name"        property="lastName"       javaType="string"/>
                <result column="tsst_address"          property="address"        javaType="string"/>
                <result column="tsst_mobile_phone"     property="mobilePhone"    javaType="string"/>
            </association>
        </collection>
    </resultMap>

    <select id="getRecordById" resultMap="SimpleCourseMap">
        <![CDATA[
            SELECT *
              FROM tscr_course
         LEFT JOIN tsct_category
                ON tscr_tsct_uid = tsct_uid
         LEFT JOIN tsnr_enroll
                ON tscr_uid = tsnr_tscr_uid
         LEFT JOIN tsst_student
                ON tsnr_tsst_uid = tsst_uid
        ]]>
        <where>
               AND tscr_uid = #{recordId}
        </where>
    </select>

    <select id="getAllRecords" resultMap="CoursesMap">
        <![CDATA[
            SELECT *
              FROM (
        ]]>
        <include refid="sqlGetAllRecords"/>
        <![CDATA[
                   ) AS records
          ORDER BY tscr_uid
        ]]>
        <if test="limit != null">
             LIMIT ${limit} OFFSET ${offset}
        </if>
    </select>

    <select id="getCountAllRecords" resultType="int">
        <![CDATA[
            SELECT COUNT(DISTINCT tscr_uid)
              FROM (
        ]]>
        <include refid="sqlGetAllRecords"/>
        <![CDATA[
                   ) AS records
        ]]>
    </select>

    <sql id="sqlGetAllRecords">
        <![CDATA[
            SELECT *
              FROM tscr_course
        ]]>
        <where>
            <if test="recordStatus != null">
               AND tscr_status = #{recordStatus}
            </if>
            <if test="recordPrice != null">
               AND tscr_price = #{recordFirstName}
            </if>
            <if test="recordTitle != null">
               AND tscr_title '%' || #{recordTitle} || '%'
            </if>
        </where>
    </sql>

    <insert id="saveRecord" useGeneratedKeys="true" keyProperty="uid">
        <![CDATA[
            INSERT INTO tscr_course
                       (tscr_uid,
                        tscr_tsct_uid,
                        tscr_status,
                        tscr_price,
                        tscr_title,
                        tscr_description)
                VALUES (#{course.uid},
                        #{course.category.uid},
                        #{course.status},
                        #{course.price},
                        #{course.title},
                        #{course.description});
        ]]>
    </insert>

    <update id="updateRecord">
        <![CDATA[
          UPDATE tscr_course
        ]]>
        <set>
            <if test="course.category != null and course.category.uid != null">
                 tscr_tsct_uid = #{course.category.uid},
            </if>
            <if test="course.status != null">
                 tscr_status = #{course.status},
            </if>
            <if test="course.price != null">
                 tscr_first_name = #{course.price},
            </if>
            <if test="course.title != null">
                 tscr_title = #{course.title},
            </if>
            <if test="course.description != null">
                 tscr_description = #{course.description},
            </if>
                 tscr_last_update_date = CURRENT_TIMESTAMP
        </set>
        <where>
                 tscr_uid = #{course.uid}
        </where>
    </update>

    <delete id="deleteRecord">
        <![CDATA[
         UPDATE tscr_course
        ]]>
        <set>
                tscr_status = 0,
                tscr_last_update_date = CURRENT_TIMESTAMP
        </set>
        <where>
                tscr_uid = #{course.uid}
        </where>
    </delete>
</mapper>
